.navbar {
    display: flex;
    flex-direction: row;
  }
  
  .navbar-item {
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: inherit;
    text-transform: uppercase;
    outline: none;
  }